<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../../partials/head") %>
  </head>
  <body>
    <header class="position-fixed w-100"><%- include("../../components/navbar") %></header>
    <main></main>
      <section id="content">
        <div class="container" style="padding-top: 80px">
            <div class="d-flex">
                <div class="p-2">
                  <img width="800px" height="500px" class="rounded" <% if
                  (board.img.includes("https")) {%> src="<%= board.img %>" <%}
                  else {%> src="/uploads/<%= board.img %>" <%}%> alt="board image" />
                </div>
                <div class="pt-5">
                    <p><%= board.name %></p>
                    <p>Owner: <%= board.user.username %> </p>
                    <p>Price Total ($): <%= board.price %> </p>
                    <p><%= board.desc %></p>
                    <br>
                    <p><b><%= board._count.usersfav %> Likes</b></p>
                    <form action="/board/<%= board.id %>/like" method="post">
                      <button type="submit" class="btn btn-outline-danger">Like</button>
                    </form>
                </div>
            </div>
        </div>
      </section>
      <%- // include("../../components/footer") %>
    </main>
    <%- include("../../partials/scripts") %>
  </body>
</html>
